.root {
    -fx-background-color: #f0f0f0;
}

.label {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #ff8a65;
    -fx-text-fill: white;
    -fx-border-color: #d84315;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #d84315;
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-highlight-fill: #ffccbc;
    -fx-highlight-text-fill: black;
    -fx-border-color: #d84315;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.menu-bar {
    -fx-background-color: #d26f51;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.menu-item:focused {
    -fx-background-color: #ff8a65;
    -fx-text-fill: white;
}
